<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MongoDB Daten</title>
  </head>
  <body>
    <h1>Benutzer</h1>
    <ul>
      <% users.forEach(user => { %>
      <li><%= user.username %> - <%= user.email %></li>
      <% }); %>
    </ul>

    <h1>Produkte</h1>
    <ul>
      <% products.forEach(product => { %>
      <li>
        <%= product.name %> - <%= product.price %> - <%= product.category %>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
